menu {
  display: flex;
  width: 100%;
  background: #00022e;
  padding: 10px 0;
  margin: 0;

  div {
    background: transparent;
    flex: 1;
    color: white;
    height: 100%;
    display: flex;
    font-size: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    opacity: 0.5;
    gap: 5px;

    img {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }

    &.active {
      opacity: 1;
    }
  }
}
